API_KEY=your_fastforex_api_key_here
API_URL=https://api.fastforex.io
TARGET_CURRENCIES=EUR,GBP,UAH

# Для запуска через docker-compose используй DB_HOST=db
# Для локального запуска без Docker используй DB_HOST=localhost
DB_HOST=db
DB_PORT=5432
DB_NAME=forex
DB_USER=postgres
DB_PASSWORD=postgres

FETCH_INTERVAL=5
